<%= form_for @doctor, method: :post, url: create_patient_doctor_path do |form| %>

  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :patients, @doctor.patients.new do |pat| %>
    <div class="field">
      <%= pat.label :email, "Email" %>
      <%= pat.text_field :email %>
    </div>
    <div class="field">
      <%= pat.label :f_name, "First Name" %>
      <%= pat.text_field :f_name %>
    </div>
    <div class="field">
      <%= pat.label :l_name, "Last Name" %>
      <%= pat.text_field :l_name %>
    </div>
    <div class="field">
      <%= pat.label :disease %>
      <%= pat.text_field :disease %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Create Patient" %>
  </div>
<% end %>


<%= link_to "Back", doctor_path(@doctor) %>
