<p id="notice"><%= notice %></p>
<h1>Doctor Info</h1>
<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="col">Email</th>
      <td><%= @doctor.email %></td>
    </tr>
    <tr>
      <th scope="col">First Name</th>
      <td><%= @doctor.f_name %></td>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <td><%= @doctor.l_name %></td>
    </tr>
    <tr>
      <th scope="col">Image</th>
      <td>
        <% if @doctor.avatar.exists? %>
          <%= image_tag @doctor.avatar.url(:thumb) %>
        <% end %>
      </td>
    </tr>
  <tbody>
</table>

<%= link_to 'Edit', edit_doctor_path(@doctor), class: "btn btn-primary" %>



<%= link_to "Create Patient", create_patient_doctor_path(@doctor), class: "btn btn-primary" %>
<div class="row">
  <div class="col-md-6">
    <h2>Patient Info</h2>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Disease</th>
      <th scope="col">Show</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <th><%= patient.f_name %> </th>
        <td><%= patient.l_name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.disease %></td>
        <td><%= link_to 'show', patient_info_doctor_path(id: @doctor, patient_id: patient.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
